/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}
/* menu navegação */
nav ul.menu {
    list-style-type: none;
    padding: 0;
}

nav ul.menu li {
    display: inline;
    margin-right: 20px;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
}
nav ul.menu li:hover{
    background-color: #d2cfcfa2;
}
/* Seções da minha página */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/**/
/* Estilos do formulário de contato */
form {
    margin-top: 20px;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/**/
/* Rodapé */
footer{
    text-align: center;
    color: darkgrey;
}
